
cas-demo-client/.project

cas-demo-client/.classpath

cas-demo-client/.settings/.jsdtscope

cas-demo-client/.settings/org.eclipse.jdt.core.prefs

cas-demo-client/.settings/org.eclipse.wst.common.component

cas-demo-client/.settings/org.eclipse.m2e.core.prefs

cas-demo-client/.settings/org.eclipse.wst.common.project.facet.core.xml

cas-demo-client/.settings/org.eclipse.wst.jsdt.ui.superType.container

cas-demo-client/.settings/org.eclipse.wst.jsdt.ui.superType.name

cas-demo-client/.settings/org.eclipse.wst.validation.prefs

cas-demo-server/.classpath

cas-demo-server/.project

cas-demo-server/.settings/.jsdtscope

*.prefs

cas-demo-server/.settings/org.eclipse.wst.common.component

cas-demo-server/.settings/org.eclipse.wst.common.project.facet.core.xml

cas-demo-server/.settings/org.eclipse.wst.jsdt.ui.superType.container

cas-demo-server/.settings/org.eclipse.wst.jsdt.ui.superType.name

cas-demo/.project
